.heading{
    background-color: #ff9999;
    padding: 8px;
    text-align: center;
    font-size: 1rem;
}

.movie-poster {
    height: 100%;  
    width: auto;       
}
.flex-container {
    display: flex;
}
.flex-container>div {
    margin: 16px;
}
div.left{
    width: 76%;
}
.right {
    padding-top: 20px;
    width: 24%;
}